
div#header div {
	display: inline-block;
	vertical-align: top;
	margin: 10px;

}

header div#header div.leftheader img {
	border-radius: 50%;
	width: 45px;
}

div#header div.rightheader nav.menu-nav ul li.btn {
	list-style-type: none;
	display: inline-block;
}

div#header div.rightheader nav.menu-nav ul li.btn:hover a {
	color: #fff;
	background-color: black;
	transition: 1s all;
}

div#header div.rightheader nav.menu-nav ul li.btn a {
	color: #ffff;
	background-color: grey;
	text-decoration: none;
	padding: 15px;
	margin: 0.5px;
}

div#content div {
	display: inline-block;
	width: 48%;
	text-align: center;
	margin: 10px;
	vertical-align: top;

}

div#content div.leftbox {
	color: white;

}

div#content div.rightbox {
	color: white;
}

div#content div.rightbox a{
	list-style-type: none;
	text-decoration: none;
	color: #ffff;
}

body{
	background: url("https://images.unsplash.com/photo-1520583457224-aee11bad5112?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60") no-repeat;
	background-size: 100%;	
}

p {
	color: white ;
}

a{
	list-style-type: none;
	text-decoration: none;
	color: #ffff;
}